.trending-container{
    padding:30px;
    background:#111;
    min-height:100vh;
    color:white;
}

.title{
    text-align:center;
    color:gold;
    margin-bottom:30px;
}

.movie-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.movie-card{
    background:#1f1f1f;
    border-radius:12px;
    padding:15px;
    text-align:center;
    transition:.3s;
}

.movie-card:hover{
    transform:scale(1.05);
}

.movie-card img{
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:10px;
}

.rank{
    font-size:22px;
    color:gold;
    font-weight:bold;
    margin-bottom:10px;
}

.movie-card h3{
    margin-top:15px;
}

.movie-card p{
    margin:5px 0;
}