.reports-container{
    width:90%;
    margin:auto;
    padding:30px;
    color:white;
}

.reports-container h1{
    text-align:center;
    margin-bottom:30px;
}

.cards{
    display:flex;
    justify-content:space-between;
    gap:20px;
    margin-bottom:40px;
}

.card{
    flex:1;
    background:#202020;
    border-radius:10px;
    padding:20px;
    text-align:center;
}

.card h2{
    color:gold;
}

.section{
    margin-top:40px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#111;
    color:gold;
    padding:12px;
}

td{
    padding:12px;
    border-bottom:1px solid #444;
    text-align:center;
}

tr:hover{
    background:#2a2a2a;
}